.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #333;
	color: #fff;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2em;
}

.appContainer {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #1e1e1e;
	color: #fff;
}

.sidebar {
	width: 300px;
	background-color: #2c2c2c;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.sidebarButton {
	padding: 10px 20px;
	margin-bottom: 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebarButton:hover {
	background-color: #0056b3;
}

.treeView {
	flex: 1;
	background-color: #555;
	padding: 10px;
	overflow-y: auto;
	border-radius: 5px;
}

.content {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1e1e1e;
}
